#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Title_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Paragraph_21 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-3ac180ab-3d16-4399-82bf-7b2c9dd0090e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}