#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-43ab0a67-ac17-4b36-94fe-71b557861f7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}