#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93321790-e2a8-4e52-8752-42fd6ff2baff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}