#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Line_1 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Line_1 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}