#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2f0c1d4-5bfd-41cb-bde7-6a3cd6ceaccb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}