#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Line_1 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c #s-Line_1 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d6499fe4-8254-4f21-8970-543b7e13879c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}