#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f65bc16e-cddc-4c74-b9fb-bc2c7126b172 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}