#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f6f9853d-27bd-491e-9eb3-c9eb2d0f99fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}